#logo {
    left: -10px;
    padding-left: 7.5px;
    margin-bottom: 30px;

}

.page {
    position: static;
    height: 200px;
    width: 83%;
    margin: 70px 0 0 180px;
    top: 30%;
    left: 25%;
}

#body {
    background-color: #413e3e;
    margin-left: 0px;
    margin-top: 80px;
    margin-bottom: 8%;
    color: lightgrey;
}

.navButton {
    margin-left: 20px;
    width: 80px;
    display: inline-block;
    padding: 0px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 2px;
}

.button:hover {
    background-color: #3e8e41;
}

#topBar {
    position: static;
    margin-top: -80px;
    margin-left: 0px;
    margin-bottom: 20px;
    height: 95px;
    width: 100%;
}

#sideBar {
    height: 100%;
    width: 120px;
    position: fixed;
    background-color: #3b3939;
    margin-left: 0px;
    margin-right: 120px;
    margin-top: -115px;
    border-right: 1px solid #464646;
    border-top: 1px solid #464646;

}

.textDeco {
    color: #3e8e41;
}

.comments {
    margin: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: #3b3939;
    border-style: solid;
    border-color: black;
    border: 1px;
    border-radius: 3px;
}

#SendButton {
    background: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    margin-top: 200px;
}

#comments {
    background: white;

}

#cyberLogo {
padding-left: 130px;
}